.dishImg {
    width: 50%;
}

h2 {
    padding: 1px;
    margin: 1px;
}

h3 {
    padding: 1px;
    margin: 1px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu > div {
    padding: 10px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}

.changeDishButton{
    height: 22px;
    margin-top: 0;
    padding: 4px 5px;
}

#closeModalContainer{
    display: flex;
    justify-content: flex-end;
}

#dishesForChange{
    display: flex;
    justify-content: space-around;
}

.dishForChange{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishForChangeImg {
    width: 340px;
    height: 300px;

}
